body{
	margin: 0px;
	background-color: gray;
	overflow-x: hidden;
}

.DINcondensed { /*DIN-condensed font */ }

p{
	font-family: Arial;
}

.frame{
	position: relative;
	width: 50%;
	max-width: 1280px;
	margin: 0 auto;
}

.video-container {
	width: 87.5%;
	max-width: 1280px;
	position:relative;
	padding-bottom:46.25%; /* ratio */
	padding-top:30px;
	height:0;
	margin: 0 auto;
	overflow:hidden;
	z-index: 10;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#frameTwo{ margin-top: 10%!important; }

section.Digitaal-magazine-MKBGW-01 {
	position:relative;
	background-color: white;
	width:100%;
	height:400px;
}

#intro{
	position: relative;
	font-size: 50px;
	font-weight: normal;
	letter-spacing: 6px;
}

.text{
	position: absolute;
	text-align: center;
	height: 500px;
	width: 500px;
	color: black;
	left: 50%;
	margin: 0 0 0 -250px;
	letter-spacing: 1px;
}

section.Digitaal-magazine-MKBGW-02 {
	position:relative;
	background-color: #F28D01;
	width:100%;
	height:auto;
}

#hex1{
	position: absolute;
	width: 40%;
	height: auto;
	margin-left: 80%;
	margin-top: 3%;
}

#stripe1{
	height: 100px;
	width: 20px;
	position: absolute;
	margin-left: 28.15%;
	margin-top: 1%;
	size: 1.6vw;
}

#view {
	position: absolute;
	background-color: pink;
	margin-left: 28.15%;
	margin-top: 2.5%;
}

#studentVidOne{
	margin-top: 1.81%
	height: 100px;
	width: 200px;
	position: absolute;
	color: white;
	left: 29.15%;
	font-size: 1.5vw;
	margin-top: 2.5%;
}

#textTwo{
	position: relative;
	margin-top: 17%;
	left: 28.15%;
	color: white;
	font-size: 1.4vw;
}
