body{
	margin: 0px;
	background-color: #FFFFFF;
	overflow-x: hidden;
}

.DINcondensed { /*DIN-condensed font */ }

p{
	font-family: Arial;
}

.frame{
	max-width: 964px;
	margin: 0 auto;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	z-index: 10;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#frameTwo{ top: 421px; }
#frameThree{ top: 416px }
#frameFive{ top: 420px }
#frameSix{ top: 356px }
#frameEight{ top: 420px }
#frameNine{ top: 356px }
#frameEleven{ top: 420px; }

#textOne{
	position: absolute;
	top: 500px;
}

section.Digitaal-magazine-MKBGW-01 {
	position:relative;
	background-color: white;
	width:100%;
	height:749px;
}

.text{
	text-align: center;
	height: 500px;
	width: 500px;
	color: black;
	left: 50%;
	margin: -350px 0 0 -250px;
	letter-spacing: 1px;
}

#intro{
	font-size: 50px;
	font-weight: normal;
	letter-spacing: 6px;
}

#textOne{
	position: absolute;
	top: 500px;
}

section.Digitaal-magazine-MKBGW-02 {
	position:relative;
	background-color: #F28D01;
	background-size: cover;
	width:100%;
	height:1964px;
}

.vidText{
	left: 800px;
	letter-spacing: 5px;
	font-size: 40px;
}

#studentVidOne{
	color: white;
	top: 7.8%;
	position: absolute;
	left: 21%;
}

#hex1{
	position: absolute;
	height: auto;
	width: 26%;
	margin-left: -6.4%;
	margin-top: 50%;
}

#hex2{
	position: absolute;
	height: auto;
	width: 55%;
	margin-left: 79%;
	margin-top: 6.3%;
}

#stripe1 {
	position: absolute;
	top: 10%;
	left: 18%;
}

#stripe2 {
	position: absolute;
	margin-top: 61.1%;
	margin-left: 0%;
	width: 68.8%;
}