section.Digitaal-magazine-MKBGW-06 {
	position:relative;
	background-color: white;
	width:100%;
	height:auto;
	overflow: hidden;
	padding-bottom: 20%;
}

#studentVidTwo{
	margin-top: 6.81%;
	width: 200px;
	position: absolute;
	color: black;
	left: 28.15%;
	font-size: 1.8vw;
}

.borderleft2{
	padding-left: 5px;
	border-left: solid #F28D01 5px;
}

#hex3 {
	position: absolute;
	height: auto;
	width: 19%;
	margin-left: 88%;
	margin-top: 17.5%;
}

#hex4{
	position: absolute;
	width: 35%;
	height: auto;
	margin-left: -46%;
	margin-top: -11%;
}


#textThree{
	position: relative;
	margin-top: 1%;
	left: 28.15%;
	color: black;
	font-size: 1.3vw;
	width: 44%;
}

#stripe2 {
	float: left;
	position: absolute;
	margin-top: 4%;
	margin-left: -3.9%;
	width: 78.8%;
	z-index: 2;
}

.tip5{
	position: relative;
	float: left;
	width: 8%;
	height: 10%;
	font-size: 1.6vw;
	color: black;
	left: 29.5%;

}

.tip6{
	position: relative;
	float: left;
	width: 8%;
	height: 10%;
	font-size: 1.6vw;
	color: black;
	left: 32.5%;
}

.tip7{
	position: relative;
	float: left;
	width: 8%;
	height: 10%;
	font-size: 1.6vw;
	color: black;
	left: 35.5%;
}

.tip8{
	position: relative;
	float: left;
	width: 8%;
	height: 10%;
	font-size: 1.6vw;
	color: black;
	left: 38.5%;
}
