section.Digitaal-magazine-MKBGW-08 {
	position:relative;
	background-color: #F28D01;
	height: auto;
	width:100%;
	overflow: hidden;
	padding-bottom: 20%;
}

#hex1{
	position: absolute;
	width: 40%;
	height: auto;
	margin-left: 80%;
	margin-top: 3%;
	opacity: 0.1;
}

#view {
	position: absolute;
	background-color: pink;
	margin-left: 28.15%;
	margin-top: 2.5%;
}

#studentVidOne{
	margin-top: 6.81%;
	width: 200px;
	position: absolute;
	color: white;
	left: 28.15%;
	font-size: 1.8vw;
}

.borderleft{
	padding-left: 5px;
	border-left: solid white 5px;
}

#textTwo{
	position: relative;
	margin-top: 1%;
	left: 28.15%;
	color: white;
	font-size: 1.3vw;
	width: 44%;
}

#hex2{
	position: absolute;
	height: auto;
	width: 19%;
	margin-left: -40%;
	margin-top: -4.15%;
	opacity: 0.1;
}

#stripe1 {
	float: left;
	position: absolute;
	margin-top: 4%;
	margin-left: -32%;
	width: 71.8%;
	z-index: 2;
}

.tip1{
	position: relative;
	float: left;
	width: 8%;
	height: 10%;
	font-size: 1.6vw;
	color: white;
	left: 29.5%;

}

.tip1text{
	font-size: 1vw;
}

.tip2{
	position: relative;
	float: left;
	width: 8%;
	height: 10%;
	font-size: 1.6vw;
	color: white;
	left: 32.5%;
}

.tip2text{
	font-size: 1vw;
}

.tip3{
	position: relative;
	float: left;
	width: 8%;
	height: 10%;
	font-size: 1.6vw;
	color: white;
	left: 35.5%;
}

.tip3text{
	font-size: 1vw;
}

.tip4{
	position: relative;
	float: left;
	width: 8%;
	height: 10%;
	font-size: 1.6vw;
	color: white;
	left: 38.5%;
}

.tip4text{
	font-size: 1vw;
}